body {
    margin-left: 200px;
    margin-top: 100px;
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gamespace {
    background-color: lightcoral;
    width: 350px;
    height: 510px;
    overflow: hidden;
    border: 2px solid mediumseagreen;
}

.hair1 {
    height: 50px;
    width: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: black;
    position: relative;
    top: 260px;
    left: 120px;
}

.hair2 {
    width: 100px;
    height: 140px;
    background-color: black;
    position: relative;
    border-radius: 0px 0px 60px 60px;
    top: 50px;
}

.face {
    background-color: #ffecb3;
    height: 70px;
    width: 80px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: 10px;
}

.lefteye {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: 12px;
    left: 9px;
}

.righteye {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    bottom: 8px;
    left: 54px;
}

.eyeball1, .eyeball2 {
    position: relative;
    height: 13px;
    width: 13px;
    background-color: black;
    border-radius: 50%;
    top: 4px;
    left: 4.1px;
}



.dot1, .dot3 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 2px;
}

.dot1 {
    left: 2px;
}

.dot3 {
    left: 7px;
}

.dot2, .dot4 {
    width: 1.5px;
    height: 1.5px;
    background-color: white;
    position: relative;
    top: 4.6px;
    border-radius: 50%;
}

.dot2 {
    left: 7px;
}

.dot4 {
    left: 5px;
}

.lips {
    width: 20px;
    height: 20px;
    background: #ffb3b3;
    -webkit-border-radius: 20px 0px;
    border-radius: 20px 0px;
    left: 31px;
    bottom: 0px;
    transform: rotate(45deg);
    position: relative;
}

.line {
    position: relative;
    background-color: white;
    width: 10px;
    height: 1.1px;
    left: 36px;
    bottom: 11px;
}

.neck {
    position: relative;
    width: 20px;
    height: 25px;
    background-color: #ffecb3;
    left: 28px;
}

.t1 {
    position: relative;
    bottom: 35px;
    right: 30px;
}

.lefthand {
    position: relative;
    background-color: #ffecb3;
    height: 120px;
    width: 20px;
    border-radius: 10px;
    right: 24px;
    bottom: 6px;
    transform: rotate(10deg);
}

.righthand {
    position: relative;
    background-color: #ffecb3;
    height: 120px;
    width: 20px;
    border-radius: 10px;
    left: 82px;
    bottom: 126px;
    transform: rotate(-10deg);
}

.body {
    width: 80px;
    height: 120px;
    background-color: #ffecb3;
    border-radius: 15px;
    position: relative;
    bottom: 245px;
    right: 1px;
}

.outfit2 {
    width: 80px;
    height: 90px;
    background-color: crimson;
    position: relative;
    bottom: 450px;
    visibility: hidden;
    right: 1px;
}

.outfit4 {
    background-color:darkmagenta;
    position: relative;
    height: 90px;
    width: 80px;
    bottom: 636px;
    right: 1px;
    visibility: hidden;
}

.strap4 {
    position: relative;
    border-bottom: 30px solid darkmagenta;
    border-left: 80px solid transparent;
    bottom: 28px;
}

.outfit3 {
    width: 80px;
    height: 90px;
    background-color: lightseagreen;
    position: relative;
    bottom: 544px;
    right: 1px;
    visibility: hidden;
}

.strap3left {
    position: relative;
    background-color: lightseagreen;
    width: 5px;
    height: 41px;
    bottom: 35px;
    left: 13px;
    transform: rotate(30deg);
}

.strap3right {
    position: relative;
    background-color:lightseagreen;
    width: 5px;
    height: 41px;
    bottom: 76px;
    left: 60px;
    transform: rotate(-30deg);
}

.n1, .n2 {
    position: relative;
    width: 40px;
    height: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: crimson;
}

.n1 {
    bottom: 17px;
    right: 0px;
}

.n2 {
    bottom: 35px;
    left: 40px;
}

.outfit1 {
    width: 80px;
    height: 120px;
    background-color: royalblue;
    border-radius: 15px;
    position: relative;
    bottom: 365px;
    right: 1px;
    visibility: visible;
}

.neck1 {
    position: relative;
    left: 14px;
    width: 50px;
    height: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #ffecb3;
}

.leftsleeve1 {
    width: 20px;
    height: 25px;
    background-color: royalblue;
    transform: rotate(10deg);
    right: 16px;
    bottom: 26.5px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.rightsleeve1 {
    width: 20px;
    height: 25px;
    background-color: royalblue;
    transform: rotate(-10deg);
    left: 75px;
    bottom: 50px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.leftsleeve2 {
    width: 20px;
    height: 15px;
    transform: rotate(10deg);
    background-color:crimson;
    position: relative;
    right: 18px;
    bottom: 50px;
}

.rightsleeve2 {
    width: 20px;
    height: 15px;
    transform: rotate(-10deg);
    background-color: crimson;
    position: relative;
    left: 78px;
    bottom: 63px;
}


.hairb1 {
    width: 80px;
    bottom: 920px;
    left: 35px;
    position: relative;
    transform: rotate(35deg);
    visibility: hidden;
}
.hairb2 {
    width: 75px;
    bottom: 1075px;
    left: 4px;
    position: relative;
    visibility: hidden;
}

.heading {
    background-color: antiquewhite;
    padding: 8px;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    color: mediumseagreen;
    text-align: center;
    position: relative;
    bottom: 30px;
    font-family: 'Permanent Marker';
    font-size: 30px;
}

.game {
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
}

.button {
    background-color: antiquewhite;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    color: mediumseagreen;
    padding: 5px;
    font-size: 19px;
    font-family: 'Courgette', cursive;
}
